<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<div class="instruments">
    {% for product in products %}
        - {{ product }}
        {% if loop.index is divisible by(3) %}
            <br>
        {% endif %}
    {% endfor %}

    {{ dump(products) }}
</div>

</body>
</html>